---
import { Picture } from "astro:assets";
import heroImage from "@/assets/Andrew.png";
import Link from "@/components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-[2fr_1fr] items-center max-w-7xl mx-auto px-6">
  <div class="py-9 md:order-1 hidden md:block rounded-2xl justify-self-end">
    <Picture
  src={heroImage}
  alt="Smiling professional"
  widths={[200, 400, 600]}
  sizes="(max-width: 800px) 100vw, 620px"
  loading="eager"
  format="avif"
  class="rounded-2xl shadow-lg max-w-sm h-auto"
/>

  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Hello There!
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-2xl">
      Transform your business with cutting-edge copywriting and content
      strategies. I help companies communicate their value clearly, connect with
      their audience, and achieve measurable growth through powerful words that
      convert.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

        Book a 15-minute Consultation
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        Hire Me!
      </Link>
    </div>
  </div>
</main>
